/*  select = Ctrl + d ( it select multiple lines which has same name and change */
.registerbox{
    border: 1px solid gray;
    border-radius: 4px;
    width: 400px;
    background: #494646;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:30px;
    align-items:center ;
    margin: auto;
}

.registerbox input{
    padding: 10px 30px;
    border-radius: 4px;
    background-color: black;
    color: grey;
    border: none;
}


.registerbox button{
    padding: 8px 90px;
    border-radius: 4px;
    background-color: cornflowerblue;
    border: none;
    cursor: pointer;
}

.registerbox .link{
    background-color: inherit;
    color: inherit;
    padding-bottom:30px ;
}