/*  select = Ctrl + d ( it select multiple lines which has same name and change */

.registerbox{
    width: 400px;
    height: 300px;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:30px;
    align-items:center ;
    margin: auto;
}

.registerbox input{
    padding: 10px 30px;
    border-radius: 4px;
    background-color: black;
    color: grey;
    border: none;
}


.registerbox button{
    padding: 8px 90px;
    border-radius: 10px;
    background-color: cornflowerblue;
    border: none;
}

.registerbox link{

}