.statusbox{
    height: 100px;
    display: flex;
    width: auto;
    gap: 30px;
    justify-content: flex-start;
     padding-left: 20px;
     align-items: center;
     margin-top: 20px;
     margin-left: 20px;
     overflow: hidden;
     overflow-x: auto;     
}